*, *::after, *::before { box-sizing: inherit }
html { box-sizing: border-box }

html, body {
	position: relative;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	color: #fff;
	background: #17111a;

	font-family: 'Fixedsys Excelsior', 'Fixedsys', monospace;
}

button, select {
	font: inherit;
	color: #b2bcc2;
	border: .1em solid;
	padding: .5em .8em;
	background: #3e375c;
}

button:hover {
	text-decoration: underline;
}

#logotype {
	position: absolute;

	top: 16px;
	left: 16px;

	width: 74px;
	height: 29px;

	image-rendering: pixelated;
	image-rendering: optimiseSpeed;
}

#github-btn {
	position: absolute;

	top: 16px;
	right: 16px;

	width: 32px;
	height: 32px;

	image-rendering: pixelated;
	image-rendering: optimiseSpeed;
	filter: brightness(100%);
}

#github-btn:hover {
	filter: brightness(150%);
}
