*, *::after, *::before { box-sizing: inherit }
html { box-sizing: border-box }

html, body {
	position: relative;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	color: white;
	background: black;

	font-family: monospace;
}

button {
	font: inherit;
	color: white;
	border: 1px solid;
	padding: .5em .8em;
	background: black;
	cursor: pointer;
}

button:hover {
	text-decoration: underline;
}
